body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.highScores {
    position: absolute;
}

.timer {
    text-align: right;
}

.main {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startButton {
    font-size: large;
    color: white;
    background-color: darkviolet;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: violet;
}